/.vscode
/all_folders.zip
/csv_files
/Git-2.49.0-64-bit.exe
/postgresql-17.5-1-windows-x64.exe
/SQL - from Youtube.docx
/SQL_Project_Data_Job_Analysis
/VSCodeUserSetup-x64-1.100.2.exe
/~$L - from Youtube.docx